.navigationGrid {
    position: relative;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 1;
    grid-template-areas: "leftNav midNav rightNav";
    justify-items: stretch;
    padding: 25px;
    z-index: 1000 !important;
  }

.leftNav {
    grid-area: leftNav;
}

.midNav {
    grid-area: midNav;
}

.rightNav {
    grid-area: rightNav;
}

#navigationBarMain {
    /* TODO: on scroll augment alpha or update to #1e1e1e */
    background-color: #1e1e1e00;
}