/* main titles and headers --> font-family: 'Sawarabi Mincho', sans-serif; */
/* main content, p and texts -->  font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Sawarabi+Mincho&display=swap');


* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}


h1,h2,h3,h4,h5  {
    font-family: 'Sawarabi Mincho', sans-serif;
}

